services:
  nominatim:
    image: mediagis/nominatim:5.2
    container_name: nominatim_planet
    mem_limit: 20g
    memswap_limit: 20g
    shm_size: 20g
    ports:
      - "8001:8080"
    environment:
      - THREADS=16
      - FREEZE=true
      - PBF_PATH=/nominatim/data/planet-latest.osm.pbf
      - IMPORT_WIKIPEDIA=/nominatim/data/wikimedia-importance.csv.gz
      - NOMINATIM_FLATNODE_FILE=/nominatim/flatnode/flatnode.file
    volumes:
      - ${PWD}/data/nominatim/planet/flatnode:/nominatim/flatnode
      - ${PWD}/data/nominatim/planet/postgres:/var/lib/postgresql/16/main
      - ${PWD}/data/nominatim/data:/nominatim/data
    tty: true
    stdin_open: true

  overpass:
    image: wiktorn/overpass-api
    container_name: overpass_planet
    mem_limit: 48g
    memswap_limit: 48g
    shm_size: 8g
    ports:
      - "8002:80"
    volumes:
      - ${PWD}/data/overpass/db_planet:/db
    environment:
      - OVERPASS_MODE=clone
      - OVERPASS_META=yes
      - OVERPASS_RULES_LOAD=80
      - OVERPASS_USE_AREAS=true
      - OVERPASS_FASTCGI_PROCESSES=12
      - OVERPASS_RATE_LIMIT=10
      - OVERPASS_MAX_TIMEOUT=60000
      - OVERPASS_TIME=30000
      - OVERPASS_SPACE=34359738368
    restart: unless-stopped

  valhalla:
    image: ghcr.io/valhalla/valhalla-scripted:latest
    container_name: valhalla_planet
    ports:
      - "8003:8002"
    volumes:
      - ${PWD}/data/valhalla:/custom_files
    environment:
      - use_tiles_ignore_pbf=True
      - force_rebuild=False
      - server_threads=8
      - serve_tiles=True
    tty: true
    stdin_open: true
